ul li a {
    color:yellow
}
.menu li a{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.menu li a:hover{
    /* transform: translateX(5px); */
    /* transform: translate(0px, 5px); */
    transform: rotate(20deg);
    color:burlywood
    
}
.drop li a:hover{
    transform: translateX(10px);
    /* transform: translate(0px, 5px); */
    color:burlywood;
    background-color: black;

    
}


